<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista...">
        <!-- # is a tag === refer elements. It's tagging the input in this case -->
    </div>
</div>


<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>
<!-- Just in case loading is false --  This element will appear -->
<!-- Example of sharing data between parent -- child component -->